[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
zappa = "*"
django-s3-sqlite = "*"
django-s3-storage = "*"
python-dotenv = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
