[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
zappa = "*"
django-s3-sqlite = "*"
django-s3-storage = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
